[user]
	name = yelenkovsky
	email = yelenkovsky@xbloc.dev
[credential "https://github.com"]
	helper = 
	helper = !/home/xbloc/.local/share/mise/installs/gh/2.100.0/gh_2.100.0_linux_amd64/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/home/xbloc/.local/share/mise/installs/gh/2.100.0/gh_2.100.0_linux_amd64/bin/gh auth git-credential
[credential "https://origin.cursor.com/git"]
	helper = 
	helper = !/usr/local/bin/origin credential-helper
[credential "https://origin.cursor.com"]
	helper = 
	helper = !/usr/local/bin/origin credential-helper
